/* CSS declarations go here */

.pile#force-pile {
  top: 10px;
  left: 10px;
}

.pile#reserve-deck {
  top: 10px;
  left: 70px;
}

.card, .pile {
  border: 1px solid transparent;
  height: 70px;
  padding: 1px;
  position: absolute;
  width: 50px;
}

.card:hover, .pile:hover {
  border-color: blue;
  cursor: move;
}

.pile.empty {
  border-color: red;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.pile.empty:hover {
  cursor: default;
}
