/* CSS declarations go here */

body {
  padding: 0px;
}

#board {
  background-image: url('/background.jpg');
  background-position: center;
  height: 600px;
  width: 1280px;
  position: relative;
}

.life-force {
  height: 155px;
  position: absolute;
  width: 195px;
  z-index: 10;
}

#dark-life-force {
  top: 440px;
  left: 5px;
}

#light-life-force {
  top: 5px;
  left: 5px;
}

.pile.used-pile {
  top: 0px;
  left: 95px;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}

.pile.lost-pile {
  top: 70px;
  left: 10px;
}

.pile.reserve-deck {
  top: 70px;
  left: 70px;
}

.pile.force-pile {
  top: 70px;
  left: 130px;
}

.card, .pile {
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  height: 70px;
  padding: 1px;
  position: absolute;
  width: 50px;
}

.card:hover {
  box-shadow: 0px 0px 10px #fff;
  -moz-box-shadow: 0 0 10px #fff;
  -webkit-box-shadow: 0 0 10px #fff;
  z-index: 10;
}

.pile:hover, .pile.over {
  box-shadow: 0px 0px 30px #0078a3;
  -moz-box-shadow: 0 0 30px #0078a3;
  -webkit-box-shadow: 0 0 30px #0078a3;
  z-index: 10;
}

.pile.empty {
  box-shadow: 0px 0px 30px #f54400;
  -moz-box-shadow: 0 0 30px #f54400
  -webkit-box-shadow: 0 0 30px #f54400;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.pile.empty:hover {
  cursor: default;
}

.ui-draggable:hover {
  cursor: move;
}

.hand {
  min-width: 280px;
  height: 75px;
  left: 500px;
  padding: 5px;
  position: absolute;
}

#dark-hand {
  top: 515px;
}

#light-hand {
  top: 0px;
}

.hand .card {
  left: 0px !important;
  position: static !important;
  top: 0px !important;
  margin-left: -40px;
}

.hand .card:first-child {
  margin-left: 0px;
}

.container {
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  z-index: 10;
}
