/* CSS declarations go here */

body {
  padding: 0px;
}

#board {
  background-color: #00CCCC;
  height: 600px;
  width: 1280px;
  position: relative;
  z-index: 0;
}

.life-force {
  background-color: rgba(0,0,0,0.75);
  width: 195px;
  height: 155px;
  position: absolute;
  z-index: 10;
}

#dark-life-force {
  top: 445px;
  left: 0;
}

#light-life-force {
  top: 0px;
  left: 0;
}

.pile.used-pile {
  top: 0px;
  left: 95px;
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}

.pile.lost-pile {
  top: 70px;
  left: 10px;
}

.pile.reserve-deck {
  top: 70px;
  left: 70px;
}

.pile.force-pile {
  top: 70px;
  left: 130px;
}

.card, .pile {
  border: 1px solid transparent;
  height: 70px;
  padding: 1px;
  width: 50px;
  position: absolute;
}

.card:hover, .pile:hover, .over {
  border-color: blue;
}

.pile.empty {
  border-color: red;
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.pile.empty:hover {
  cursor: default;
}

.ui-draggable:hover {
  cursor: move;
}

